<div class="container">
  <div class="form-group">
    <label for="input">Qwerty:</label>
    <textarea class="form-control" id="input" name="input" rows="100" cols="80"
              placeholder="Use Roman characters for transliteration input">
    </textarea>
  </div>
</div>
