<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Sumerian Input</title>
    <link rel="shortcut icon" type="image/png" href="/images/icon.png" />
    <!--<link rel="stylesheet" href="/css/bootstrap.css" /> -->
    <link
       rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
       integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
       crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
       src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
  </head>

  <body>
    <%- body %>
  </body>
</html>
